

a{
    font-family: 'Source Code Pro', monospace;
    color: white;
    
}

p{
    font-family: 'Source Code Pro', monospace;
    line-height: 1.2rem;
    font-size: 0.9rem;
    color: white;
}

h1, h2{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.4rem;
    color: white;
}

h3{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2rem;
    color: white;
}

span{
    font-family: 'Special Elite', cursive;
}

.container{
    margin: 0 10%;
}